# Dependency directories
node_modules/

# Build outputs
dist/
.astro/

# Environment files
.env
.env.production
.env.development
.env.local

# Operating system files
.DS_Store
Thumbs.db

# Databases & local configs
cms/prisma/*.db
cms/prisma/*.db-journal
cms/prisma/*.db-shm
cms/prisma/*.db-wal
cms/prisma/dev.db
